*{
    margin: 0%;
    padding: 0%;
}
.headerDiv{
    width: 100%;
    height: 93px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 0;
}
.logo{
    cursor: pointer;
}
.menu{
    cursor: pointer;
}

@media(min-width: 670px){
    .regMenu{
    display: flex;
    width: 230px;
    justify-content: space-between;
    align-items: center;
}
.logIn{
    width: 65px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #7CE3E1;
    border: #7CE3E1;
    cursor: pointer;
}
.rectangle{
    color: #7CE3E1;
}
.headerList{
    list-style: none;
    line-height: normal;
    display: flex;
    gap: 49px;
}
.headerList li {
    cursor: pointer;
}
.register{
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
    opacity: 0.4;
    cursor: pointer;
}
.None{
    display: none;
}
}
@media(max-width: 670px){
   .none{
    display: none;
   }
   .headerDiv{
    justify-content: space-around;
   } 
}